# Imports

In [1]:
import pandas as pd
import re

# Read in the data

In [84]:
df = pd.read_csv('../data/raw/harvard/training/1/106886', sep="\t", header=None)
df.columns = ['words']
df

                                                 words
0                                       RECORD #106886
1    192629344 | NH | 68247963 | | 3666218 | 7/10/2...
2                            Discharge Date: 3/17/2006
3            ATTENDING: HEISSER III , MONROE JOSEPH MD
4                                             ADDENDUM
..                                                 ...
133                               Dictation ID 8624693
134  Addendum Created by BRANDT , III , EUGENE TERE...
135                                         A: 5/22/06
136                          Dictation ID : 2917664CEX
137                                       [report_end]

[138 rows x 1 columns]

In [87]:
# df.loc[df.make == '', 'make'] = df.Words.str.split().str.get(0)
df['first_word'] = df['words'].str.split().str.get(0)
record = df.loc[df.first_word == 'RECORD', 'words'].str.split("#").str.get(1)
principal_row = df[df['first_word']=='PRINCIPAL'].index[0]
eScription_row = df[df['first_word']=='eScription'].index[0]
df_reduced = df.iloc[principal_row:eScription_row,]
df_reduced.head(20)

                                                words        first_word
6       PRINCIPAL DIAGNOSIS: Coronary artery disease.         PRINCIPAL
7   HISTORY OF PRESENT ILLNESS: Mr. Midget is a 56...           HISTORY
8   with a past medical history significant for in...              with
9   infarction in 1995 , which was treated with an...        infarction
10  time. Since then , he has been stable on medic...             time.
11  approximately two months prior to this admissi...     approximately
12  noting anterior chest pain with exertion. He u...            noting
13  test , which was found to be abnormal , and wa...              test
14  catheterization. Cardiac catheterization was p...  catheterization.
15     10/3/06 at Au Hospital . This study revealed a           10/3/06
16  70% proximal stenosis of his left anterior des...               70%
17  artery , a 90% mid segment stenosis of his fir...            artery
18  artery , a 50% mid segment stenosis of his cir...            artery
19  artery , a 90% ostial stenosis of his first ob...            artery
20  100% proximal stenosis of his right coronary a...              100%
21  30% ostial stenosis of the left main coronary ...               30%
22  flow was noted from the left anterior descendi...              flow
23  descending coronary artery. Given the results ...        descending
24  catheterization , he was referred for elective...   catheterization
25  PAST MEDICAL HISTORY: The patient's past medic...              PAST

In [105]:
df["uppercase"] = df.first_word.apply(lambda x: x.isupper())
df["uppercase_count"] = df.uppercase.cumsum()
df["count"] = df.index
df.groupby('uppercase_count')['words'].apply(" ".join).iloc[16]

'DISCHARGE INSTRUCTIONS: The patient is instructed to make and keep all of his follow-up appointments and shower and wash his wounds with soap and water each day. He is to continue diuresis with Lasix 40 mg p.o. daily for five days and then discontinue until his re-evaluation at a follow-up appointment with his PCP or cardiologist and 1-2 weeks. Of note , this patient was diagnosed for the first time as a type II diabetic during this admission with a hemoglobin A1c of 7.2 prior to admission. He was followed by the Diabetes Management Service postoperatively , and was started on metformin 500 mg a day and should follow up with his primary care physician in 1-2 weeks for follow-up check of his blood sugar and any necessary adjustment in his diabetic medications. He is instructed to make follow-up appointments with his cardiac surgeon Dr. Jakowich for two weeks following discharge from the hospital and to return to see his primary care physician , Dr. Parmalee one to two weeks following discharge from the hospital. eScription document: 7-7492062 CSSten Tel Dictated By: MALES , BRENT Attending: TERNES III , JEAN JON Dictation ID 8624693 Addendum Created by BRANDT , III , EUGENE TERENCE , M.D.'

In [88]:
# Extract Record number als index wert
for i, row in df.iterrows():
    if row.first_word.islower():
        print(row.words)

with a past medical history significant for inferior myocardial
infarction in 1995 , which was treated with angioplasty at that
time. Since then , he has been stable on medical management until
approximately two months prior to this admission , when he began
noting anterior chest pain with exertion. He underwent a stress
test , which was found to be abnormal , and was referred for cardiac
catheterization. Cardiac catheterization was performed on
artery , a 90% mid segment stenosis of his first diagonal coronary
artery , a 50% mid segment stenosis of his circumflex coronary
artery , a 90% ostial stenosis of his first obtuse marginal , a
flow was noted from the left anterior descending to the posterior
descending coronary artery. Given the results of this cardiac
catheterization , he was referred for elective revascularization.
significant for hypertension , hypercholesterolemia , lower back
pain , nephrolithiasis as well as a 3.4 cm infrarenal abdominal
aortic aneurysm at the bifurcation of the aorta.
the 1990s as well as removal of a cyst from his left wrist in
artery disease. His brother has undergone coronary artery bypass
grafting in the past and his mother , father and brother all have
suffered myocardial infarction. He also has a significant family
history of hypertension in both of his parents.
smoking history as well as a history of social alcohol use ,
approximately five to six beers on the weekend.
tetanus immunization in the past has led to arm swelling.
p.o. daily , fenofibrate 145 mg p.o. daily , Vicodin 5 mg p.o. as
needed for low back pain as well as vitamins C , D , A , and E.
and underwent physical examination.
the patient to be afebrile with resting heart rate of 52 beats
per minute and regular. The patient had a resting blood pressure
of 142/76 in the right arm and 148/76 in the left arm. He had a
room air oxygen saturation of 95%. Examination of the head ,
eyes , ears , nose and throat revealed the pupils to be equal ,
round , reactive to light and accommodation. The dentition was
without evidence of infection and carotid bruits were not
appreciable bilaterally over the carotid arteries. Examination
of the heart revealed it to be in regular rate and rhythm with a
grade 2/6 systolic murmur heard best at the right upper sternal
border. Examination of the lungs revealed breath sounds to be
clear bilaterally throughout all lung fields. Examination of the
abdomen revealed a well-healed right upper quadrant incision
consistent with prior open cholecystectomy. Examination of the
extremities revealed them to be without scarring , varicosities or
edema and pulses were 2+ and equal to full extent of all
extremities. Neurologically , the patient was alert and oriented
x3 with no focal neurological deficits.
platelet count of 386 , 000. Coagulation studies were within
normal limits with an INR of 1 and the urinalysis was within
normal limits. Cardiac catheterization data from 10/3/06 are as
stated above in the history of present illness. Echocardiogram
performed on 8/29/06 revealed a 65% ejection fraction with
trivial mitral valve insufficiency and no noted regional wall
motion abnormalities. EKG obtained on 10/3/06 showed a normal
sinus rhythm at 55 beats per minute with no acute ST or T-wave
changes. Chest x-ray performed on 1/25/2006 was without
evidence of active cardiopulmonary disease.
same-day admission and was taken directly to the operating room
where he underwent coronary artery bypass grafting x4 including
the left internal mammary artery to left anterior descending
coronary artery , saphenous vein graft to the ramus and second
obtuse marginal coronary arteries and the left radial artery to
the right coronary artery. Significant times of this operation
included a cardiopulmonary bypass time of 173 minutes with an
aortic cross-clamp time of 156 minutes. For further details of
this operation , please refer to the dictated operative note. The
patient's immediate postoperative period was uncomplicated. He
was extubated on the day of surgery and considered a good
candidate for transfer from the Intensive Care Unit to the
pacing wires and chest drainage tubes and a Jackson-Pratt drain
were all discontinued on postoperative day #2. On the Step-Down
approximately 17 in the immediate perioperative period , however
the white blood cell count had improved markedly to 11.9 by
postoperative day #3. He had a PA and lateral chest x-ray on
postoperative day #3 , which revealed satisfactory postoperative
appearance of the chest. The patient was ambulating and
tolerating a full diet without difficulty and is now considered
in good candidate for discharge to home with visiting nurse
services on 7/4/06 , postoperative day #4.
include aspirin 325 mg p.o. daily , atorvastatin 40 mg p.o. daily ,
diltiazem 30 mg p.o. t.i.d. , Colace 100 mg p.o. t.i.d. as needed
for constipation , Zetia 10 mg p.o. daily , fenofibrate 145 mg p.o.
daily , Lasix 40 mg p.o. daily x5 days , K-Dur 20 mEq p.o. daily x5
days , metformin 500 mg p.o. daily , Toprol-XL 25 mg p.o. daily ,
and oxycodone 5-10 mg p.o. q.4 h. as needed for pain.
keep all of his follow-up appointments and shower and wash his
wounds with soap and water each day. He is to continue diuresis
with Lasix 40 mg p.o. daily for five days and then discontinue
until his re-evaluation at a follow-up appointment with his PCP
or cardiologist and 1-2 weeks. Of note , this patient was
diagnosed for the first time as a type II diabetic during this
admission with a hemoglobin A1c of 7.2 prior to admission. He
was followed by the Diabetes Management Service postoperatively ,
and was started on metformin 500 mg a day and should follow up
with his primary care physician in 1-2 weeks for follow-up check
of his blood sugar and any necessary adjustment in his diabetic
medications. He is instructed to make follow-up appointments
with his cardiac surgeon Dr. Jakowich for two weeks following
discharge from the hospital and to return to see his primary care
physician , Dr. Parmalee one to two weeks following discharge from
the hospital.
[report_end]

In [31]:
with open("../data/raw/harvard/training/1/155092",'r') as f:
    lines = f.readlines()
    important = False
    for line in lines:
        if line.startswith("PRINCIPAL") or important:
            print(line.split()[0] == "PRINCIPAL")
            print(line)
            important = True
            if line.startswith("eScription"):
                important = False
    # Principal Diagnosis
    # ZusammenfÃ¼hren der Zeilen bis zum nÃ¤chsten groÃŸgeschriebenen 
    # UnnÃ¶tiges am Ende entfernen

True
PRINCIPAL DIAGNOSIS: POST MYOCARDIAL INFARCTION ANGINA

False
SIGNIFICANT PROBLEMS: 1. Coronary artery disease

False
2. Hypertension

False
3. Non-insulin dependent diabetes

False
mellitus

False
HISTORY OF PRESENT ILLNESS: Patient is a 72 year old white male

False
Status post recent myocardial

False
infarction who was admitted for recurrent chest discomfort.

False
On the 1 of July , the patient noticed a "uncomfortable chest

False
sensation" as he was driving. He experienced diaphoresis at that

False
time , but no shortness of breath and no nausea or vomiting. He was

False
seen at an outside hospital and noted to have 2-3 mm ST elevations

False
in leads 2 , 3 , FV5 and V6 ( Humpde Hospital ). The patient was given

False
TPA , Heparin intravenous and aspirin. His peak CPK was noted to be

False
5 , 742 with an MB fraction of 199. The patient's hospital stay was

False
complicated by frequent PVCs on cardiac monitor , for which he was

False
temporarily treated with Lidocaine. Immediately after the TPA

False
infusion , the patient noted that his chest discomfort which was

False
located primarily on the left side , across the midline , to the

False
right. An echocardiogram that was performed , showed an ejection

False
fraction of 60% with posterolateral dyssynergia. On the 16 of September of

False
July , the patient was discharged from Cocku Health after a submax

False
ETT. He reached a heart rate of 95 and blood pressure 168/90.

False
On the 25 of June , the patient noted that he had a recurrence of

False
this vague chest discomfort as he was sitting and talking to

False
friends. He took a sublingual Nitroglycerin without relief. This

False
chest discomfort episode resolved spontaneously after approximately

False
ten minutes.

False
On the 8 of September , the patient was at a party and , again ,

False
developed a similar anxious sensation which was similar to the

False
feeling that he experienced prior to his myocardial infarction. He

False
took two sublingual Nitroglycerin again , without relief , and his

False
discomfort resolved after two hours. Patient denies PND ,

False
orthopnea , or edema. The patient was admitted on the 8 of September

False
for cardiac catheterization to evaluate post myocardial infarction

False
angina.

False
ALLERGIES: Include Penicillin and Toprol which leads to an itch.

False
PAST MEDICAL HISTORY: Significant for hypertension for five to

False
six years and diet controlled diabetes

False
mellitus times four years.

False
ADMISSION MEDICINES: Ecotrin , Vasotec 20 mg po qd. Atenolol 50

False
mg po qd. Nitropatch which was to be

False
continued the day of admission.

False
SOCIAL HISTORY: The patient has never smoked and he denies

False
alcohol use.

False
FAMILY HISTORY: His father died at the age of 48 with the

False
history of coronary artery disease. The mother

False
died at the age of 80 secondary to congestive heart failure. His

False
brother died of a myocardial infarction in his 60s.

False
ADMITTING PHYSICAL EXAM: BP 120/80. Heart rate 54. Temperature

False
97.2 , with 95% room air saturation.

False
Patient is a well-developed elderly male , lying in bed in no acute

False
distress. HEENT exam reveals pupils are equal , round , reactive to

False
light and accommodation , oropharynx is within normal limits. Neck

False
exam is supple with jugular venous pressure 4 cm and carotids

False
without bruits. Heart exam shows S1 and S2 with a positive S4 , 1/6

False
systolic murmur heard at the left lower sternal border. Chest is

False
clear to auscultation bilaterally. Abdominal exam is benign with

False
positive bowel sounds , soft and non-tender and is non-distended.

False
Extremities exam shows no clubbing , cyanosis , or edema , with +2

False
pulses bilaterally at the femoral deep tendon , and posterior tibial

False
sites. Rectal exam is guaiac negative. Neurological exam is

False
non-focal , with down-going toes bilaterally , and 2+ reflexes

False
bilaterally.

False
ADMISSION LAB: Sodium 139 , potassium 4.9 , chloride 190 ,

False
bicarbonate 26 , BUN 23 , creatinine 1.4 , glucose

False
183 , white count 9.3 , hematocrit 36 with platelets of 274 , CK 219 ,

False
LDH 407. Urinalysis negative. Electrocardiogram showed sinus

False
rhythm 55 , axis 20 , normal intervals , biphasic V4 through V6 and 1

False
mm ST elevation in V5 and V6. chest x-ray was within normal

False
limits.

False
HOSPITAL COURSE: The physical therapy was started on Heparin

False
immediately after admission for presumed post

False
myocardial infarction angina. He underwent cardiac catheterization

False
the morning following admission. This demonstrated a proximal 100%

False
occluded left circ lesion which was easily angio-positive to 20%

False
residual. This was complicated by a small dissection. An LV gram

False
demonstrated inferior hypokinesis. The patient tolerated the

False
procedure well without significant decrease in hematocrit or

False
increase in creatinine. He was heparinized for a full forty-eight

False
hours post cardiac catheterization procedure. At the time of

False
discharge , he was ambulating. At no time during this admission did

False
he develop chest discomfort.

False
The patient was discharged to home in good condition and will be

False
followed by his cardiologist in one week post discharge.

False
DISCHARGE MEDICATIONS: Aspirin 325 mg po qd. Atenolol 50 mg po

False
qd. Vasotec 20 mg po qd. Sublingual

False
Nitroglycerin prn.

False
Dictated By: MARC T. JAJI , M.D. HK19

False
Attending: DAMIAN GLOMB , M.D. UX16  LC444/5227

False
Batch: 3436 Index No. T0DUWD0PBV D: 8/2/95

False
T: 8/2/95

False
[report_end]

# Cleaning the data

## Format the data

In [5]:
df = df.loc[:, ["description", "medical_specialty", "sample_name", "transcription", "keywords"]]
df.head()

,description,medical_specialty,sample_name,transcription,keywords
0,A 23-year-old white female presents with comp...,Allergy / Immunology,Allergic Rhinitis,"SUBJECTIVE:, This 23-year-old white female pr...","allergy / immunology, allergic rhinitis, aller..."
1,Consult for laparoscopic gastric bypass.,Bariatrics,Laparoscopic Gastric Bypass Consult - 2,"PAST MEDICAL HISTORY:, He has difficulty climb...","bariatrics, laparoscopic gastric bypass, weigh..."
2,Consult for laparoscopic gastric bypass.,Bariatrics,Laparoscopic Gastric Bypass Consult - 1,"HISTORY OF PRESENT ILLNESS: , I have seen ABC ...","bariatrics, laparoscopic gastric bypass, heart..."
3,2-D M-Mode. Doppler.,Cardiovascular / Pulmonary,2-D Echocardiogram - 1,"2-D M-MODE: , ,1. Left atrial enlargement wit...","cardiovascular / pulmonary, 2-d m-mode, dopple..."
4,2-D Echocardiogram,Cardiovascular / Pulmonary,2-D Echocardiogram - 2,1. The left ventricular cavity size and wall ...,"cardiovascular / pulmonary, 2-d, doppler, echo..."

In [93]:
df["medical_specialty"].value_counts()

 Surgery                          1103
 Consult - History and Phy.        516
 Cardiovascular / Pulmonary        372
 Orthopedic                        355
 Radiology                         273
 General Medicine                  259
 Gastroenterology                  230
 Neurology                         223
 SOAP / Chart / Progress Notes     166
 Obstetrics / Gynecology           160
 Urology                           158
 Discharge Summary                 108
 ENT - Otolaryngology               98
 Neurosurgery                       94
 Hematology - Oncology              90
 Ophthalmology                      83
 Nephrology                         81
 Emergency Room Reports             75
 Pediatrics - Neonatal              70
 Pain Management                    62
 Psychiatry / Psychology            53
 Office Notes                       51
 Podiatry                           47
 Dermatology                        29
 Cosmetic / Plastic Surgery         27
 Dentistry                          27
 Letters                            23
 Physical Medicine - Rehab          21
 Sleep Medicine                     20
 Endocrinology                      19
 Bariatrics                         18
 IME-QME-Work Comp etc.             16
 Chiropractic                       14
 Rheumatology                       10
 Diets and Nutritions               10
 Speech - Language                   9
 Autopsy                             8
 Lab Medicine - Pathology            8
 Allergy / Immunology                7
 Hospice - Palliative Care           6
Name: medical_specialty, dtype: int64

In [94]:
section_words = [
"SUBJECTIVE",
"MEDICATIONS",
"ALLERGIES",
"OBJECTIVE",
"ASSESSMENT",
"PLAN",]
def get_all_section_words(sentence):
    title_information_dict = {}
    for i in range(len(section_words)-1):
        start = section_words[i]
        end = section_words[i +1]
        print(start, end)
        
        # getting index of substrings
        try:
            start_index = sentence.index(start)
            end_index = sentence.index(end)
        except ValueError as e:
            print("ValueError", e)
            continue
        
        # length of substring 1 is added to
        # get string from next character
        res = sentence[start_index + len(start) + 1: end_index]
        
        title_information_dict[start] = res.strip(", ")
    
    return title_information_dict
    
    
df["section_dict"] = df.head(2)["transcription"].apply(lambda x: get_all_section_words(x))

SUBJECTIVE MEDICATIONS
This 23-year-old white female presents with complaint of allergies.  She used to have allergies when she lived in Seattle but she thinks they are worse here.  In the past, she has tried Claritin, and Zyrtec.  Both worked for short time but then seemed to lose effectiveness.  She has used Allegra also.  She used that last summer and she began using it again two weeks ago.  It does not appear to be working very well.  She has used over-the-counter sprays but no prescription nasal sprays.  She does have asthma but doest not require daily medication for this and does not think it is flaring up.
MEDICATIONS ALLERGIES
Her only medication currently is Ortho Tri-Cyclen and the Allegra.
ALLERGIES OBJECTIVE
She has no known medicine allergies.
OBJECTIVE ASSESSMENT
Vitals:  Weight was 130 pounds and blood pressure 124/78.,HEENT:  Her throat was mildly erythematous without exudate.  Nasal mucosa was erythematous and swollen.  Only clear drainage was seen.  TMs were clear.,Neck:  Supple without adenopathy.,Lungs:  Clear.
ASSESSMENT PLAN
Allergic rhinitis.
SUBJECTIVE MEDICATIONS
ValueError substring not found
MEDICATIONS ALLERGIES
None.
ALLERGIES OBJECTIVE
ValueError substring not found
OBJECTIVE ASSESSMENT
ValueError substring not found
ASSESSMENT PLAN
ValueError substring not found

In [91]:
df.head()

,description,medical_specialty,sample_name,transcription,keywords,section_dict
0,A 23-year-old white female presents with comp...,Allergy / Immunology,Allergic Rhinitis,"SUBJECTIVE:, This 23-year-old white female pr...","allergy / immunology, allergic rhinitis, aller...","{'SUBJECTIVE': ', This 23-year-old white fema..."
1,Consult for laparoscopic gastric bypass.,Bariatrics,Laparoscopic Gastric Bypass Consult - 2,"PAST MEDICAL HISTORY:, He has difficulty climb...","bariatrics, laparoscopic gastric bypass, weigh...","{'MEDICATIONS': ', None.,'}"
2,Consult for laparoscopic gastric bypass.,Bariatrics,Laparoscopic Gastric Bypass Consult - 1,"HISTORY OF PRESENT ILLNESS: , I have seen ABC ...","bariatrics, laparoscopic gastric bypass, heart...",NaN
3,2-D M-Mode. Doppler.,Cardiovascular / Pulmonary,2-D Echocardiogram - 1,"2-D M-MODE: , ,1. Left atrial enlargement wit...","cardiovascular / pulmonary, 2-d m-mode, dopple...",NaN
4,2-D Echocardiogram,Cardiovascular / Pulmonary,2-D Echocardiogram - 2,1. The left ventricular cavity size and wall ...,"cardiovascular / pulmonary, 2-d, doppler, echo...",NaN

In [92]:
df["section_dict"].apply(pd.Series)

,SUBJECTIVE,MEDICATIONS,ALLERGIES,OBJECTIVE,ASSESSMENT,0
0,", This 23-year-old white female presents with...",", Her only medication currently is Ortho Tri-...",", She has no known medicine allergies.,",",Vitals: Weight was 130 pounds and blood pres...",", Allergic rhinitis.,",NaN
1,NaN,", None.,",NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
4994,NaN,NaN,NaN,NaN,NaN,NaN
4995,NaN,NaN,NaN,NaN,NaN,NaN
4996,NaN,NaN,NaN,NaN,NaN,NaN
4997,NaN,NaN,NaN,NaN,NaN,NaN
4998,NaN,NaN,NaN,NaN,NaN,NaN